body {
    --color-primary: #F7F6F1;
    --color-secundary: #c4c5ba;
    --color-buttons: #677767;
    --color-text: #363636;
    --color-hover: #ff856f;
    --color-contact: #ffffff;

    background: var(--color-primary);
    font-family: 'Roboto', sans-serif;
    color: var(--color-text);
    position: relative;
    font-size: 18px;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    width: 85%;
    height: 85%;
}

.headContacts {
    display: flex;
    position: relative;
    margin-bottom: 25px;
}

.title {
    display: flex;
    font-size: 2rem;
    transform: translateY(-25%);
}

.showAs {
    position: relative;
    left: 50px;
}

#buttonList {
    background-color: var(--color-primary);
    border: none;
    outline: none;
    cursor: pointer;
}

#buttonPanel {
    background-color: var(--color-primary);
    border: none;
    outline: none;
    cursor: pointer;
}

.searchContacts {
    position: absolute;
    right: 150px;
}

#buttonSearch {
    background-color: var(--color-primary);
    width: 100px;
    height: 16px;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color-buttons);
}

#buttonSearch:hover {
    border-bottom: 1px solid var(--color-hover);
}

.svgicones {
    width: 20px;
    height: 20px;
}

.svgicones:hover {
    fill: var(--color-hover);
}

#buttonNewContact {
    position: absolute;
    right: 0;
    cursor: pointer;
}

#buttonNewContact{
    background-color: var(--color-buttons);
    outline: none;
    border-radius: 2px;
    border: none;
    width: 100px;
    height: 25px;
    color: var(--color-primary);
}

#buttonNewContact:hover{
    background-color: var(--color-hover);
}

.listContacts {
    display: flex;
    border: 2px solid var(--color-secundary);
}

#contact {
    display: flex;
    background-color: var(--color-contact);
    width: 100%;
    height: 95%;
}