body {
    --color-primary: #fcfcfc;
    --color-secundary: #e0e0e0;
    --color-tertiry: #121212;
    --color-hover: #D93B18;

    background: var(--color-primary);
    font-family: 'Roboto', sans-serif;
    color: var(--color-tertiry);
    position: relative;
    font-size: 1rem;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Definindo a área util do site*/
.main {
    width: 85%;
    height: 85%;
}

/*Personalizando os icones (SVG)*/
.svgicon {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--color-tertiry);
}

.svgicon:hover {
    fill: var(--color-hover);
}

/*Cabeçalho principal do site*/
.headContacts {
    display: flex;
    position: relative;
    margin-bottom: 2rem;
}

/*Título (Contato)*/
.title {
    display: flex;
    font-size: 2rem;

}

/*Input pesquisar cliente*/
.searchContacts {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10rem;
}

#buttonSearch {
    background-color: var(--color-primary);
    width: 100px;
    height: 16px;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--color-tertiry);
    color: var(--color-tertiry);
}

#buttonSearch:hover {
    border-bottom: 2px solid var(--color-hover);
}

#buttonSearch::placeholder {
    color: var(--color-tertiry);
}

/*Input adcionar novo cliente*/
#buttonNewContact {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    cursor: pointer;
}

#buttonNewContact{
    background-color: var(--color-tertiry);
    outline: none;
    border-radius: 3px;
    border: none;
    width: 7rem;
    height: 2rem;
    color: var(--color-secundary);
}

#buttonNewContact:hover{
    background-color: var(--color-hover);
    color: var(--color-tertiry);
    box-shadow: 2px 2px 5px #2326229c;
}

/*Configurando a área da lista de contatos*/
.listContacts {
    border: 2px solid var(--color-secundary);
    border-radius: 2px;
    justify-content: center;
    color: var(--color-tertiry);
}

/*Container de cada contato*/
#contactLabel {
    position: relative;
    height: 4,5rem;
    margin: 0.8rem;
    background-color: var(--color-secundary);
    border-radius: 15px;
}

#contact {
    display: flex;
    align-items: center;
    height: 100%;
}

/*Editando a tabela*/
td {
    text-align: center;
}

/*Foto de perfil do cliente*/
.profileIcon {
    width: 50px;
    height: 50px;
}

/*Botão de opções do cliente*/
.optionsContactIcon {
    width: 20px;
    height: 20px;
    fill: var(--color-tertiry);
}

.optionsContactIcon:hover {
    fill: var(--color-hover);
}