/*Configurando os botôes de modo de exibição*/
.showOptions {
    position: relative;
    left: 3rem;
    display: inline-flex;
}

.showAsList {
    position: relative;
}

.showAsPanel {
    position: relative;
    left: 1rem;
}

/*
#svgShowAsList, 
#svgShowAsPanel {
    --color-tertiry: #121212;
    --color-hover: #D93B18;

    fill: var(--color-tertiry);
    height: 1,5rem;
    width: 1,5rem;
    margin: 0,5rem;
}*/

input[type="radio"] {
    position: relative;
    width: 1,5rem;
    height: 1,5rem;
    opacity: 0;
}

input[type="radio"] + #svgShowAsList, #svgShowAsPanel {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

#svgShowAsList, #svgShowAsPanel {
    cursor: pointer;
}

input[class="showAsList"]:hover + #svgShowAsList:hover,
input[class="showAsList"]:checked + #svgShowAsList,
input[class="showAsList"]:focus + #svgShowAsList {
    fill: var(--color-hover);
}

input[class="showAsPanel"]:hover + #svgShowAsPanel:hover,
input[class="showAsPanel"]:checked + #svgShowAsPanel,
input[class="showAsPanel"]:focus + #svgShowAsPanel {
    fill: var(--color-hover);
}