* {
    --color-tertiry: #121212;
    --color-hover: #D93B18;
}

/*Configurando os botôes de modo de exibição*/

.showOptions {
    position: relative;
    left: 3rem;
}

input[type=radio] {
    opacity: 0;
    width: 0;
    height: 0;
}

.showAsPanel {
    position: relative;
    left: 1rem;
}

input[type="radio"] + #svgShowAsList, #svgShowAsPanel {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

#svgShowAsList, #svgShowAsPanel {
    position: relative;
    cursor: pointer;
    top: -0.8rem;
}

input[class="showAsList"]:hover + #svgShowAsList:hover,
input[class="showAsList"]:checked + #svgShowAsList,
input[class="showAsList"]:focus + #svgShowAsList {
    fill: var(--color-hover);
}

input[class="showAsPanel"]:hover + #svgShowAsPanel:hover,
input[class="showAsPanel"]:checked + #svgShowAsPanel,
input[class="showAsPanel"]:focus + #svgShowAsPanel {
    fill: var(--color-hover);
}